h1 {
  text-align: center;
  padding-top: 20px;
  padding-right: 20px
  padding-bottom:20px;
  padding-left: 20px;
}

body {
  background-image: url('../img/weather.jpg');
  background-size: cover;
}

td, th {
  vertical-align: middle !important;
  text-align: center !important;
}

.input-group {
  margin: 20px 0px;
}

.table-screen {
  background-color: "white";
}

svg {
  height: 150px;
}

td:first-of-type, td:first-of-type > div {
  height: 200px;
  width: 250px;
}